@font-face {
	font-family: typeHead;
	src: url(/fonts/gabriele-br.TTF);
}

@font-face {
	font-family: bodyText;
	src: url(/fonts/MankSans-Medium.ttf);
}

* {
	box-sizing: border-box; /* check prefixes, this will make the border be included in the width of an element */
}


body {
  font-family: bodyText, serif;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  font-size: 16px;
}

p {
	max-width: 35em;
}

h1, h2, h3, h4 {
  margin: .2em 0 .1em 0;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 2.074em;
}

h2 {font-size: 1.728em;
	}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}

a { color:black;
	text-decoration:none;
}

a:hover {

}

/* ---- Homepage ---- */

.categories {
	max-width:1000px;
	margin: 0 auto;
}

.category-image {
	border-radius: 5px;
}

td {
	padding: 1.5em;
}

.category-blurb {
	text-indent: .5em;
	margin-top: 0 !important;
}

.link-button {
  background-color:#F8724D;
  font-size:1.5em;
  padding: .2em .25em .1em .25em;
  margin-right:.5em;
  border-radius:5px;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, .5);
  border:1px solid black;
}

.button-style {
	text-align:right;
	margin: 0 auto .7em auto;
}

.arrow {
	width:40px;
}

/* ---- Layout ---- */

.container {
	max-width: 1000px; /* max-width will scale to the browser, while just `width` will always be the value */
	margin-left: auto; /* or margin: 0 auto; -- both will center a block element on a page or in a container */
	margin-right: auto;
}

#wrap {
	min-height:100%;
}

#main {
	padding bottom:180px;
	background-color:white;
	min-height:800px;
}

@media (max-width:1050px){
	.container {
		padding-left:1em;
		padding-right:1em;
	}
}

.site-header {
	padding:2em 0;
}

.hero {
	max-width: 100%;
}

.hero-img {
	max-width: 100%;
	border-radius:.25em; /* max-width will scale to the browser or container */
}

@media (max-width:450px){
	.hero-img{
		display:none;
	}
}
.site-title { 
	font-size: 2.5em;
	font-family: typeHead;
	padding:.5em;
}

.site-title:hover {

}

/* ---- Navigation ---- */

.header-nav {
	list-style: none;
	margin: 0;
	margin-top:.3em;
	padding: 0;
}

.header-nav li {
	/*display: inline-block;*/
	margin-bottom:.5em;
}

.dropdown-menu {
	display:none;
	position:absolute;
	margin-right:1em;
	list-style:none;
	border-top:1px solid #fff;
}

.header-nav li ul li {
	display:block;
	float:none;
}

@media (min-width:860px){
	.header-nav li {
		display:inline-block;
	}
	.navbar {
	float: right;
}
	.site-title {
		float:left;
	}
}

.nav-link {
	border-radius:.75em;
	padding-left:.5em;
	padding-right:.5em;
	padding-top:.25em;
	padding-bottom:.25em;
	color:black;
	margin-right:.5em;
	margin-left:.25em;
	text-decoration:none;
	display:block;
}

.nav-link:hover {
	background-color: rgba(248, 114, 77, .5);
}

.nav-link.active {
	text-decoration:underline;
}

.nav-link.active:hover {

}

/* Columns */

@media (min-width:620px){

.col {
	float: left;
	width: 33.33%;
	padding:.4em;
}
}

.content-columns {

}

.col {
	text-indent:1em;
}

.col-head {
	text-align:center;
}

#site-footer {
	height: 180px;
	margin-top:3em;
	background-color:gray;
	padding:2em 0;
	color:black;
}

/*---- Bootstrap ---- */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #e8e8e8;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image:         linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #2e6da4;
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background-image:      -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
  background-image:         linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
  background-repeat: repeat-x;

/* Utilities */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
