@font-face {
	font-family: typeHead;
	src: url(/fonts/gabriele-br.TTF);
}

@font-face {
	font-family: bodyText;
	src: url(/fonts/MankSans-Medium.ttf);
}

* {
	box-sizing: border-box; /* check prefixes, this will make the border be included in the width of an element */
}


body {
  font-family: bodyText, serif;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  font-size: 16px;
}

p {
	max-width: 35em;
}

h1, h2, h3, h4 {
  margin: .2em 0 .1em 0;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 2.074em;
}

h2 {font-size: 1.728em;
	}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}

a { color:black;
	text-decoration:none;
}

a:hover {

}

/* ----- About ----- */

.content-box {
	max-width:700px;
	border-radius:5px;
	box-shadow:7px 7px 7px 7px rgba(0, 0, 0, .5);
	margin:1em auto;
	margin-top:5em;
	padding-bottom:1.5em;
}

.box-header {
	text-align:center;
	width:100%;
	border-radius:5px;
	background-color:#F8724D;
	display:block;
	padding:.5em 0;
	margin: 0 auto;
}

.box-content {
	padding: 0 3em;
	margin-top:.5em;
}

.box-para {
	text-indent:1em;
	margin: .5em auto;
}

/* ---- Homepage ---- */

.categories {
	max-width:1000px;
	margin: 0 auto;
}

.category-image {
	border:1px solid black;
	border-radius: 5px;
	max-width:300px;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .5);
}

.picture-link {
	max-width:300px;
}

td {
	padding: 1.5em;
}

.category-blurb {
	text-indent: .5em;
	text-align:left;
	padding: 0 1em;
	margin: 0 auto 1.5em auto;
}

@media (max-width:1025px){
	.category-blurb{
		padding: 0 2em!important;
	}
}

.link-button {
  background-color:#F8724D;
  font-size:1.5em;
  padding: .2em .25em .1em .25em;
  margin-right:.5em;
  border-radius:5px;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, .5);
  border:1px solid black;
}

.button-style {
	text-align:right;
	margin: 0 auto .7em auto;
}

.arrow {
	width:40px;
}

/* ------- Layout ------- */

.container {
	max-width: 85%; /* max-width will scale to the browser, while just `width` will always be the value */
	margin-left: auto; /* or margin: 0 auto; -- both will center a block element on a page or in a container */
	margin-right: auto;
	clear:both;
}

@media (max-width:1130px){
	.container {
		transition: max-width .5s ease;
		-webkit-transition: max-width .5s ease;
    	-moz-transition: max-width .5s ease;
    	-o-transition: max-width .5s ease;
    	transition: max-width .5s ease;
		max-width:100%;
	}
}

@media (max-width:1050px){
	.container {
		padding-left:1em;
		padding-right:1em;
	}
}

#wrap {
	min-height:100%;
	overflow:auto;
}

#main {
	padding bottom:180px;
	min-height:900px;
	background-color:white;
	margin-top:3.5em;
}

@media (max-width:820px){
	#main {
		margin-top:1em;
		transition: margin .5s ease;
		-webkit-transition: margin .5s ease;
    	-moz-transition: margin .5s ease;
    	-o-transition: margin .5s ease;
    	transition: margin .5s ease;
	}
}



.site-header {
	padding:2em 0;
}

.site-title { 
	font-size: 2.5em;
	font-family: typeHead;
	padding: 0.2em .5em;

}

@media (max-width:900px){
	.site-title {
		font-size: 2em;
		transition: font .5s ease;
		-webkit-transition: font .5s ease;
    	-moz-transition: font .5s ease;
    	-o-transition: font .5s ease;
    	transition: font .5s ease;
	}
}

@media (max-width:420px){
	.site-title {
		font-size: 1.7em;
		transition: font .5s ease;
		-webkit-transition: font .5s ease;
    	-moz-transition: font .5s ease;
    	-o-transition: font .5s ease;
    	transition: font .5s ease;
	}
}

.site-title:hover {

}

/* ------- Navigation ------- */

.header-nav {
	list-style: none;
	margin: 0;
	margin-top:.3em;
	padding: 0;
}

.header-nav li {
	margin-bottom:.5em;
}

.nav-link {
	padding-left:.5em;
	padding-right:.5em;
	padding-top:.25em;
	padding-bottom:.25em;
	color:black;
	margin-right:.5em;
	margin-left:.25em;
	text-decoration:none;
	display:block;
}

.sub-link {
	display:block;
	color:black;
	padding:0 1em;
}

.dropdown-menu {
	display:none;
	position:absolute;
	margin-left:-2em;
	padding:1em;
	background-color:rgb(248, 114, 77);
	list-style:none;
}

.header-nav li ul li {
	display:block;
	float:none;
}

@media (min-width:820px){
	.header-nav li {
		display:inline-block;
	}
	.navbar {
	float: right;
}
	.site-title {
		float:left;
	}
}

@media (max-width:820px){
	.header-nav {
		display:none;
	}
}

.nav-link:hover {
	background-color: rgb(248, 114, 77);
}

.nav-link.active {
	text-decoration:underline;
}

.nav-link.active:hover {

}
/* ------- Mobile Navigation -------- */

.hamburger {
	display:none;
	float:right;
	max-width:100px;
	padding:1em;
	cursor:pointer;
	margin-top:-4em;
}

.x {
	display:none;
	float:right;
	max-width:95px;
	padding:1em;
	cursor:pointer;
	margin-top:-4em;
}

@media (max-width:820px){
	.hamburger {
		display:inline-block;
	}
}

@media (max-width:420px){
	.hamburger {
		max-width:85px;
		transition: max-width .5s ease;
		-webkit-transition: max-width .5s ease;
    	-moz-transition: max-width .5s ease;
    	-o-transition: max-width .5s ease;
    	transition: max-width .5s ease;
	}
	.x {
		max-width:80px;
		transition: max-width .5s ease;
		-webkit-transition: max-width .5s ease;
    	-moz-transition: max-width .5s ease;
    	-o-transition: max-width .5s ease;
    	transition: max-width .5s ease;
	}

}

.mobile-nav {
	display:none;
	list-style:none;
	right:0;
	clear:both;
	position:absolute;
}

.mobile-nav li ul {
	list-style:none;
}

.mobile-nav-link {
	padding:.25em .5em;
	margin: .1em 0;
	color:black;
	background-color:rgb(248, 114, 77);
	text-decoration:none;
	display:block;
}

.mobile-sub-link {
	display:block;
	color:black;
	background-color:rgb(242, 142, 114);
	padding:.25em .5em;
	margin: .1em 0;
}


/*---- Footer ----*/

#site-footer {
	background-color:#F8724D;
	border-top: 2px solid black;
	height: 180px;
	margin-top:3em;
	padding:2em 0;
	color:black;
}

/* Columns */

@media (min-width:1025px){

	.col {
		float: left;
		width: 33.33%;
		padding:.5em;
	}

}

@media (max-width:1025px) {
	.col-head {
		text-align:center!important;
	}
}

.content-col {
}

.col {
	text-align:center;
}

.col-head {
	text-align:left;
	padding:0 1em;
}

/*---- Bootstrap ---- */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #e8e8e8;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image:         linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #2e6da4;
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background-image:      -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
  background-image:         linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
  background-repeat: repeat-x;

/* Utilities */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
