<header class="site-header cf">
    <div class="container">
        <a class="site-title" href="{{site.url}}">Danielle Page</a>
        <nav class="navbar">
            <ul class="header-nav">
                {% for nav in site.pages %}
                    {% if nav.title %}
                        <li><a class="nav-link{% if nav.title == page.title %} active{% endif %}" href="{{ nav.url }}">{{ nav.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div> <!-- / container -->
</header><!-- / header -->
