<header class="site-header cf">
    <div class="container">
        <a class="site-title" href="{{site.url}}">Danielle Page</a>
        <nav class="navbar">
            <ul class="header-nav">
                {% for link in site.data.nav %}
                    {% if link.subcategories != null %}
                        <li>
                            <a href="{{ site.url }}{{ link.url }}" class="nav-link{% if nav.title == page.title %}active{% endif %}">{{ link.title }}</a>
                                <ul class="dropdown-menu”>
                                    {% for subcategory in link.subcategories %}
                                        <li><a href="{{ site.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
                                </ul>
                                    {% endfor %}
                        </li>
                    {% else %}
                        <li><a class="nav-link{% if nav.title == page.title %}active{% endif %}" href="{{ site.url }}{{ link.href }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div> <!-- / container -->
</header><!-- / header -->
