<header class="site-header cf">
    <div class="container">
        <a class="site-title" href="{{site.url}}">Danielle Page</a>
        <nav class="navbar">
            <ul class="header-nav">
                <li><a class="nav-link no" href="{{site.url}}/about">About</a></li>
                <li><a class="nav-link dropdown-link" href="{{site.url}}">Published Work</a>
                    <ul class="dropdown-menu">
                        <li><a class="sub-link" href="{{site.url}}/published-work/sex-dating-relationships">Sex, Dating &amp; Relationships</a></li>
                        <li><a class="sub-link" href="{{site.url}}/published-work/food">Food</a></li>
                        <li><a class="sub-link" href="{{site.url}}/published-work/health-and-fitness">Health &amp; Fitness</a></li>
                        <li><a class="sub-link" href="{{site.url}}/published-work/beauty">Beauty</a></li>
                        <li><a class="sub-link" href="{{site.url}}/published-work/technology">Technology</a></li>
                        <li><a class="sub-link" href="{{site.url}}/published-work/miscellaneous">Miscellaneous</a></li>
                    </ul>
                </li>
                <li><a class="nav-link no" href="{{site.url}}/editing-services">Editing Services</a></li>
                <li><a class="nav-link no" href="{{site.url}}/blog">Blog</a></li>
                <li><a class="nav-link no" href="{{site.url}}/contact">Contact</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="mobile-nav">
                <li><a class="mobile-nav-link" href="{{site.url}}/about">About</a></li>
                <li><a class="mobile-nav-link" href="{{site.url}}">Published Work</a>
                    <ul>
                        <li><a class="mobile-sub-link" href="{{site.url}}/published-work/sex-dating-relationships">Sex, Dating &amp; Relationships</a></li>
                        <li><a class="mobile-sub-link" href="{{site.url}}/published-work/food">Food</a></li>
                        <li><a class="mobile-sub-link" href="{{site.url}}/published-work/health-and-fitness">Health &amp; Fitness</a></li>
                        <li><a class="mobile-sub-link" href="{{site.url}}/published-work/beauty">Beauty</a></li>
                        <li><a class="mobile-sub-link" href="{{site.url}}/published-work/technology">Technology</a></li>
                        <li><a class="mobile-sub-link" href="{{site.url}}/published-work/miscellaneous">Miscellaneous</a></li>
                    </ul>
                </li>
                <li><a class="mobile-nav-link" href="{{site.url}}/editing-services">Editing Services</a></li>
                <li><a class="mobile-nav-link" href="{{site.url}}/blog">Blog</a></li>
                <li><a class="mobile-nav-link" href="{{site.url}}/contact">Contact</a></li>
            </ul>
        </nav>


    </div> <!-- / container -->
</header><!-- / header -->
